# Four Step Transport Model
Verification of: 
"The Traditional Four Steps Transportation Modeling Using Simplified Transport Network: A Case Study of Dhaka City, Bangladesh", 
Bayes Ahmed

In [1]:
# Load packages
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

## 3.1 Trip Generation

### Table 1

In [2]:
growth_rates = pd.read_csv('growth_rates.csv', index_col=0)
growth_rates.at['Land Price','Growth Rate'] = 10  # there is an error in the paper

print(growth_rates)

              Growth Rate
Population            4.5
Income Level         10.0
Land Price           10.0
Employment            2.5

### Tables 2 and 3

In [3]:
existing = pd.read_csv('demographics.csv', index_col=0)
#existing = existing.rename(columns = {"Average Zonal Income": "Income"}) # just because its a bit unweildy

print("Existing\n",existing)

projected = existing.copy()

projected['Population'] = existing['Population'] * (1+growth_rates.at['Population','Growth Rate']/100)**10
projected['Average Income'] = existing['Average Income'] * (1+growth_rates.at['Income Level','Growth Rate']/100)**10
projected['Employment'] = existing['Employment'] * (1+growth_rates.at['Employment','Growth Rate']/100)**10
projected['Land Price'] = existing['Land Price'] * (1+growth_rates.at['Land Price','Growth Rate']/100)**10
projected['Production Trips'] = 0
projected['Attraction Trips'] = 0

print("\nProjected (10 years)\n",np.round(projected))

Existing
         Population  Average Income  Employment  Land Price  Production Trips  \
Zone1       116939            1931       51200         9.5            216709
Zone2       473490            2133      207202        20.0            873051
Zone3       376925            1980      153789        16.2            697517
Zone4       451756            4898      200848        15.8            776774
Zone5       484981            4920      177655        21.9            832492
Zone6       284057            3753      105783        12.7            502936
Zone7       467491            3202      165183         8.2            840124
Zone8       525673            3164      201377         6.5            945303
Zone9       325121            5280      128368        18.4            552647
Zone10      193302            4735       34699         9.0            333569

        Attraction Trips
Zone1             179200
Zone2             932409
Zone3             538262
Zone4            1205088
Zone5             977103
Zone6             528915
Zone7             578141
Zone8             604131
Zone9             641840
Zone10            190845

Projected (10 years)
         Population  Average Income  Employment  Land Price  Production Trips  \
Zone1     181603.0          5009.0     65540.0        25.0                 0
Zone2     735315.0          5532.0    265236.0        52.0                 0
Zone3     585353.0          5136.0    196863.0        42.0                 0
Zone4     701563.0         12704.0    257102.0        41.0                 0
Zone5     753161.0         12761.0    227413.0        57.0                 0
Zone6     441132.0          9734.0    135411.0        33.0                 0
Zone7     725999.0          8305.0    211448.0        21.0                 0
Zone8     816354.0          8207.0    257780.0        17.0                 0
Zone9     504903.0         13695.0    164322.0        48.0                 0
Zone10    300192.0         12281.0     44418.0        23.0                 0

        Attraction Trips
Zone1                  0
Zone2                  0
Zone3                  0
Zone4                  0
Zone5                  0
Zone6                  0
Zone7                  0
Zone8                  0
Zone9                  0
Zone10                 0

Note these are trip production and attraction estimated from demographics.

Strangely there are slight differences in projected income only. Also its not clear if the author continues using floats or rounds at this point. This may explain small differences below.

### Regression Equation for Production

In [4]:
p_regressor = LinearRegression()
X = existing.loc[:,'Population':'Average Income'].values
y = existing.loc[:,'Production Trips'].values
p_regressor.fit(X,y)
print("Coefficients :",np.round(p_regressor.coef_,4))
print("Intercept:", np.round(p_regressor.intercept_,4))

Coefficients : [  1.7967 -15.7301]
Intercept: 49021.099

### Regression Equation for Attraction

In [5]:
a_regressor = LinearRegression()
X = existing.loc[:,'Employment':'Land Price'].values
y = existing.loc[:,'Attraction Trips'].values
a_regressor.fit(X,y)
print("Coefficients :",np.round(a_regressor.coef_,4))
print("Intercept:", np.round(a_regressor.intercept_,4))

Coefficients : [3.68690000e+00 2.30061145e+04]
Intercept: -206147.9217

### Table 4

In [6]:
projected_trips = projected.loc[:,'Production Trips':'Attraction Trips']

X = projected.loc[:,'Population':'Average Income'].values
projected_trips.loc[:,'Production Trips'] = p_regressor.predict(X)

X = projected.loc[:,'Employment':'Land Price'].values
projected_trips.loc[:,'Attraction Trips'] = a_regressor.predict(X)

print("Projected (10 years) - unadjusted (guestimated from demographics)\n",round(projected_trips))

Projected (10 years) - unadjusted (guestimated from demographics)
         Production Trips  Attraction Trips
Zone1           296513.0          602379.0
Zone2          1283100.0         1965202.0
Zone3          1019912.0         1486360.0
Zone4          1109648.0         1684591.0
Zone5          1201453.0         1939128.0
Zone6           688459.0         1050939.0
Zone7          1222747.0         1062760.0
Zone8          1386634.0         1132139.0
Zone9           740732.0         1497662.0
Zone10          395174.0          494665.0

## 3.2 Trip Distribution

### Table 6

In [7]:
adjustment_factor = np.sum(projected_trips.loc[:,'Production Trips'])/np.sum(projected_trips.loc[:,'Attraction Trips'])
print('Adjustment factor:', np.round(adjustment_factor,3))

projected_trips.loc[:,'Attraction Trips'] = projected_trips.loc[:,'Attraction Trips'] * adjustment_factor
print("\nProjected (10 years) (from demographics and linear regression)\n",round(projected_trips))

Adjustment factor: 0.723

Projected (10 years) (from demographics and linear regression)
         Production Trips  Attraction Trips
Zone1           296513.0          435811.0
Zone2          1283100.0         1421789.0
Zone3          1019912.0         1075356.0
Zone4          1109648.0         1218772.0
Zone5          1201453.0         1402925.0
Zone6           688459.0          760336.0
Zone7          1222747.0          768888.0
Zone8          1386634.0          819083.0
Zone9           740732.0         1083532.0
Zone10          395174.0          357881.0

These form the target values for each zone for production and attraction.

Now we will use impedances to estimate how many trips are between each pair of zones.

### Table 7

In [8]:
cost_matrix = np.genfromtxt('cost_matrix.csv', delimiter=',')
print(cost_matrix)

[[ 8. 10. 20. 15. 25. 22. 28. 30. 25. 35.]
 [10.  8. 12. 15. 20. 17. 25. 26. 22. 32.]
 [20. 12.  8. 20. 12. 12. 15. 25. 23. 30.]
 [15. 15. 20.  8. 12. 15. 20. 22. 12. 20.]
 [26. 20. 10. 12.  8. 10. 15. 17. 15. 22.]
 [22. 17. 12. 15. 10.  8.  9. 12. 10. 20.]
 [28. 25. 15. 20. 15.  9.  8. 10. 11. 17.]
 [30. 26. 25. 22. 17. 12. 10.  8.  9. 15.]
 [25. 22. 23. 12. 15. 10. 11.  9.  8. 18.]
 [15. 32. 30. 20. 22. 20. 17. 15. 18.  8.]]

I thought the cost matrix was symmetric but its not. This looks like it might be an error in the paper (eg. the 15 in Zone 10 to Zone 1). However they use it going forward, so we do too.

### Table 8

In [9]:
beta = 0.1 # assumed in the paper
impedance_matrix = np.exp(-1*beta*cost_matrix)
print(np.round(impedance_matrix,3))

[[0.449 0.368 0.135 0.223 0.082 0.111 0.061 0.05  0.082 0.03 ]
 [0.368 0.449 0.301 0.223 0.135 0.183 0.082 0.074 0.111 0.041]
 [0.135 0.301 0.449 0.135 0.301 0.301 0.223 0.082 0.1   0.05 ]
 [0.223 0.223 0.135 0.449 0.301 0.223 0.135 0.111 0.301 0.135]
 [0.074 0.135 0.368 0.301 0.449 0.368 0.223 0.183 0.223 0.111]
 [0.111 0.183 0.301 0.223 0.368 0.449 0.407 0.301 0.368 0.135]
 [0.061 0.082 0.223 0.135 0.223 0.407 0.449 0.368 0.333 0.183]
 [0.05  0.074 0.082 0.111 0.183 0.301 0.368 0.449 0.407 0.223]
 [0.082 0.111 0.1   0.301 0.223 0.368 0.333 0.407 0.449 0.165]
 [0.223 0.041 0.05  0.135 0.111 0.135 0.183 0.223 0.165 0.449]]

I don't yet know where the above impedance formula comes from. But it seems we are going to use the relative impedence to distribute the total projected trips between zone pairs...

### Table 9

In [10]:
sum_impedence = np.sum(impedance_matrix)
print("Sum of impedence factor:", sum_impedence)

total_trips = np.sum(projected_trips.loc[:,'Production Trips'].values)
print("Total trips (from production trips projection):", np.round(total_trips))

trip_distribution = impedance_matrix/sum_impedence * total_trips
print("\nUnadjusted trip distribution:")
print(np.round(trip_distribution,0))

Sum of impedence factor: 22.123885340388867
Total trips (from production trips projection): 9344373.0

Unadjusted trip distribution:
[[189781. 155380.  57161.  94243.  34670.  46799.  25684.  21028.  34670.
   12754.]
 [155380. 189781. 127214.  94243.  57161.  77159.  34670.  31371.  46799.
   17217.]
 [ 57161. 127214. 189781.  57161. 127214. 127214.  94243.  34670.  42346.
   21028.]
 [ 94243.  94243.  57161. 189781. 127214.  94243.  57161.  46799. 127214.
   57161.]
 [ 31371.  57161. 155380. 127214. 189781. 155380.  94243.  77159.  94243.
   46799.]
 [ 46799.  77159. 127214.  94243. 155380. 189781. 171721. 127214. 155380.
   57161.]
 [ 25684.  34670.  94243.  57161.  94243. 171721. 189781. 155380. 140593.
   77159.]
 [ 21028.  31371.  34670.  46799.  77159. 127214. 155380. 189781. 171721.
   94243.]
 [ 34670.  46799.  42346. 127214.  94243. 155380. 140593. 171721. 189781.
   69817.]
 [ 94243.  17217.  21028.  57161.  46799.  57161.  77159.  94243.  69817.
  189781.]]

This seems to be _total_ projected trips shared out (weighted) according impedance factor.

Adding these up, we have trips per zone from impedance scores, and trips per zone predicted from demographics, and they are different...

In [11]:

print("\nSum of origin trips per zone (Table 9 RH column):")
print(np.round(np.sum(trip_distribution,axis=-1)))

print("\nSum of destination trips per zone (Table 9 bottom row):")
print(np.round(np.sum(trip_distribution,axis=0)))

print("\nThis is compared with (from Table 6):")
print("\nProjected (10 years)\n",round(projected_trips))

Sum of origin trips per zone (Table 9 RH column):
[ 672171.  830994.  878032.  945220. 1028730. 1202052. 1040635.  949366.
 1072564.  724609.]

Sum of destination trips per zone (Table 9 bottom row):
[ 750359.  830994.  906198.  945220. 1003864. 1202052. 1040635.  949366.
 1072564.  643120.]

This is compared with (from Table 6):

Projected (10 years)
         Production Trips  Attraction Trips
Zone1           296513.0          435811.0
Zone2          1283100.0         1421789.0
Zone3          1019912.0         1075356.0
Zone4          1109648.0         1218772.0
Zone5          1201453.0         1402925.0
Zone6           688459.0          760336.0
Zone7          1222747.0          768888.0
Zone8          1386634.0          819083.0
Zone9           740732.0         1083532.0
Zone10          395174.0          357881.0

The author says there are "huge differences than what it should be", "although it is found that total trips is the same". This is because the trips per zone are generated from the total predicted trips! So of course they are the same.

Now it goes on to do some completely unmotivated iterative adjustment...

### Table 10 and Appendix H (Magic C program)

In [12]:
# My version

trip_dist = np.copy(trip_distribution)
(h,w) = trip_dist.shape

origin_totals = np.asmatrix(projected_trips.loc[:,'Production Trips'].values).T
destination_totals = np.asmatrix(projected_trips.loc[:,'Attraction Trips'].values)
    
column_ratios = np.ones((1,w))
row_totals = trip_dist @ column_ratios.T 
print("Max difference:\t",np.max(np.absolute(origin_totals-row_totals)))

while np.max(np.absolute(origin_totals-row_totals))>1 : 
    row_ratios = np.divide(origin_totals, row_totals)
    trip_dist = np.multiply(trip_dist, row_ratios) 

    column_totals = np.sum(trip_dist, axis=0)
    column_ratios = np.divide(destination_totals, column_totals)
    trip_dist = np.multiply(trip_dist,column_ratios)

    row_totals = np.sum(trip_dist, axis=1)
    print("Max difference:\t",np.max(np.absolute(origin_totals-row_totals)))

print("\nTable 10:\n",np.round(trip_dist,0))

Max difference:	 513593.06216008344
Max difference:	 130230.9492308402
Max difference:	 26620.76973456028
Max difference:	 5150.833977228031
Max difference:	 966.6743379291147
Max difference:	 180.01041116425768
Max difference:	 33.45169502333738
Max difference:	 6.212887087604031
Max difference:	 1.1537191374227405
Max difference:	 0.2142333670053631

Table 10:
 [[ 49417. 109024.  26365.  50324.  19126.  11579.   7311.   6888.  13580.
    2899.]
 [138201. 454857. 200430. 171896. 107712.  65210.  33710.  35100.  62616.
   13367.]
 [ 39594. 237446. 232857.  81195. 186684.  83728.  71361.  30210.  44123.
   12715.]
 [ 67022. 180603.  72008. 276775. 191670.  63684.  44439.  41868. 136093.
   35486.]
 [ 22788. 111891. 199938. 189508. 292072. 107249.  74838.  70509. 102983.
   29677.]
 [ 17759.  78901.  85513.  73339. 124919.  68431.  71236.  60728.  88697.
   18935.]
 [ 21691.  78898. 140983.  98994. 168617. 137798. 175206. 165071. 178608.
   56883.]
 [ 22491.  90412.  65684. 102646. 174837. 129284. 181669. 255340. 276280.
   87989.]
 [ 16461.  59876.  35615. 123864.  94798.  70099.  72972. 102565. 135546.
   28937.]
 [ 40386.  19881.  15962.  50232.  42488.  23275.  36146.  50804.  45006.
   70994.]]

## 3.3 Modal Split

### Tables 11-13

In [13]:
utility_car = np.genfromtxt('utility_car.txt', delimiter=' ').T
print("Car:\n",utility_car)

utility_bus = np.genfromtxt('utility_bus.txt', delimiter=' ').T
print("Bus:\n",utility_bus)

utility_rickshaw = np.genfromtxt('utility_rickshaw.txt', delimiter=' ').T
print("Rickshaw:\n",utility_rickshaw)

Car:
 [[-1.528  -1.91   -3.82   -2.865  -4.775  -4.202  -5.3479 -5.7299 -4.775
  -6.6849]
 [-1.91   -1.528  -2.292  -2.865  -3.82   -3.247  -4.775  -4.9659 -4.202
  -6.1119]
 [-3.82   -2.292  -1.528  -3.82   -2.292  -2.292  -2.865  -4.775  -4.393
  -5.7299]
 [-2.865  -2.865  -3.82   -1.528  -2.292  -2.865  -3.82   -4.202  -2.292
  -3.82  ]
 [-4.9659 -3.82   -1.91   -2.292  -1.528  -1.91   -2.865  -3.247  -2.865
  -4.202 ]
 [-4.202  -3.247  -2.292  -2.865  -1.91   -1.528  -1.719  -2.292  -1.91
  -3.82  ]
 [-5.3479 -4.775  -2.865  -3.82   -2.865  -1.719  -1.528  -1.91   -2.101
  -3.247 ]
 [-5.7299 -4.9659 -4.775  -4.202  -3.247  -2.292  -1.91   -1.528  -1.719
  -2.865 ]
 [-4.775  -4.202  -4.393  -2.292  -2.865  -1.91   -2.101  -1.719  -1.528
  -3.438 ]
 [-2.865  -6.1119 -5.7299 -3.82   -4.202  -3.82   -3.247  -2.865  -3.438
  -1.528 ]]
Bus:
 [[-0.1246 -0.3921 -1.7298 -1.061  -2.3986 -1.9973 -2.7999 -3.0674 -2.3986
  -3.7363]
 [-0.3921 -0.1246 -0.6597 -1.061  -1.7298 -1.3285 -2.3986 -2.5324 -1.9973
  -3.335 ]
 [-1.7298 -0.6597 -0.1246 -1.7298 -0.6597 -0.6597 -1.061  -2.3986 -2.1311
  -3.0674]
 [-1.061  -1.061  -1.7298 -0.1246 -0.6597 -1.061  -1.7298 -1.9973 -0.6597
  -1.7298]
 [-2.5324 -1.7298 -0.3921 -0.6597 -0.1246 -0.3921 -1.061  -1.3285 -1.061
  -1.9973]
 [-1.9973 -1.3285 -0.6597 -1.061  -0.3921 -0.1246 -0.2584 -0.6597 -0.3921
  -1.7298]
 [-2.7999 -2.3986 -1.061  -1.7298 -1.061  -0.2584 -0.1246 -0.3921 -0.5259
  -1.3285]
 [-3.0674 -2.5324 -2.3986 -1.9973 -1.3285 -0.6597 -0.3921 -0.1246 -0.2584
  -1.061 ]
 [-2.3986 -1.9973 -2.1311 -0.6597 -1.061  -0.3921 -0.5259 -0.2584 -0.1246
  -1.4623]
 [-1.061  -3.335  -3.0674 -1.7298 -1.9973 -1.7298 -1.3285 -1.061  -1.4623
  -0.1246]]
Rickshaw:
 [[-0.2529 -0.6242 -2.4806 -1.5524 -3.4087 -2.8518 -3.9656 -4.3369 -3.4087
  -5.2651]
 [-0.6242 -0.2529 -0.9955 -1.5524 -2.4806 -1.9236 -3.4087 -3.5944 -2.8518
  -4.7082]
 [-2.4806 -0.9955 -0.2529 -2.4806 -0.9955 -0.9955 -1.5524 -3.4087 -3.0375
  -4.3369]
 [-1.5524 -1.5524 -2.4806 -0.2529 -0.9955 -1.5524 -2.4806 -2.8518 -0.9955
  -2.4806]
 [-3.5944 -2.4806 -0.6242 -0.9955 -0.2529 -0.6242 -1.5524 -1.9236 -1.5524
  -2.8518]
 [-2.8518 -1.9236 -0.9955 -1.5524 -0.6242 -0.2529 -0.4386 -0.9955 -0.6242
  -2.4806]
 [-3.9656 -3.4087 -1.5524 -2.4806 -1.5524 -0.4386 -0.2529 -0.6242 -0.8098
  -1.9236]
 [-4.3369 -3.5944 -3.4087 -2.8518 -1.9236 -0.9955 -0.6242 -0.2529 -0.4386
  -1.5524]
 [-3.4087 -2.8518 -3.0375 -0.9955 -1.5524 -0.6242 -0.8098 -0.4386 -0.2529
  -2.1093]
 [-1.5524 -4.7082 -4.3369 -2.4806 -2.8518 -2.4806 -1.9236 -1.5524 -2.1093
  -0.2529]]

### Tables 14 to 16

In [14]:
e_car = np.exp(utility_car)
e_bus = np.exp(utility_bus)
e_rickshaw = np.exp(utility_rickshaw)
e_sum = e_car + e_bus + e_rickshaw

prob_car = e_car/e_sum
prob_bus = e_bus/e_sum
prob_rickshaw = e_rickshaw/e_sum

print("Probability car:\n", np.round(prob_car,4))
print("\nProbability bus:\n", np.round(prob_bus,4))
print("\nProbability rickshaw:\n", np.round(prob_rickshaw,4))
#print("Check:", prob_car + prob_bus + prob_rickshaw)

Probability car:
 [[0.1156 0.1089 0.0775 0.0927 0.0637 0.0718 0.0563 0.0517 0.0637 0.0413]
 [0.1089 0.1156 0.1023 0.0927 0.0775 0.0865 0.0637 0.0612 0.0718 0.0473]
 [0.0775 0.1023 0.1156 0.0775 0.1023 0.1023 0.0927 0.0637 0.0691 0.0517]
 [0.0927 0.0927 0.0775 0.1156 0.1023 0.0927 0.0775 0.0718 0.1023 0.0775]
 [0.0612 0.0775 0.1089 0.1023 0.1156 0.1089 0.0927 0.0865 0.0927 0.0718]
 [0.0718 0.0865 0.1023 0.0927 0.1089 0.1156 0.1123 0.1023 0.1089 0.0775]
 [0.0563 0.0637 0.0927 0.0775 0.0927 0.1123 0.1156 0.1089 0.1056 0.0865]
 [0.0517 0.0612 0.0637 0.0718 0.0865 0.1023 0.1089 0.1156 0.1123 0.0927]
 [0.0637 0.0718 0.0691 0.1023 0.0927 0.1089 0.1056 0.1123 0.1156 0.0834]
 [0.0927 0.0473 0.0517 0.0775 0.0718 0.0775 0.0865 0.0927 0.0834 0.1156]]

Probability bus:
 [[0.4705 0.497  0.6267 0.5629 0.6863 0.6511 0.7195 0.7403 0.6863 0.7879]
 [0.497  0.4705 0.5235 0.5629 0.6267 0.5888 0.6863 0.6976 0.6511 0.7602]
 [0.6267 0.5235 0.4705 0.6267 0.5235 0.5235 0.5629 0.6863 0.6631 0.7403]
 [0.5629 0.5629 0.6267 0.4705 0.5235 0.5629 0.6267 0.6511 0.5235 0.6267]
 [0.6976 0.6267 0.497  0.5235 0.4705 0.497  0.5629 0.5888 0.5629 0.6511]
 [0.6511 0.5888 0.5235 0.5629 0.497  0.4705 0.4837 0.5235 0.497  0.6267]
 [0.7195 0.6863 0.5629 0.6267 0.5629 0.4837 0.4705 0.497  0.5102 0.5888]
 [0.7403 0.6976 0.6863 0.6511 0.5888 0.5235 0.497  0.4705 0.4837 0.5629]
 [0.6863 0.6511 0.6631 0.5235 0.5629 0.497  0.5102 0.4837 0.4705 0.6016]
 [0.5629 0.7602 0.7403 0.6267 0.6511 0.6267 0.5888 0.5629 0.6016 0.4705]]

Probability rickshaw:
 [[0.4139 0.3941 0.2958 0.3444 0.2499 0.2771 0.2243 0.208  0.2499 0.1708]
 [0.3941 0.4139 0.3742 0.3444 0.2958 0.3247 0.2499 0.2412 0.2771 0.1925]
 [0.2958 0.3742 0.4139 0.2958 0.3742 0.3742 0.3444 0.2499 0.2679 0.208 ]
 [0.3444 0.3444 0.2958 0.4139 0.3742 0.3444 0.2958 0.2771 0.3742 0.2958]
 [0.2412 0.2958 0.3941 0.3742 0.4139 0.3941 0.3444 0.3247 0.3444 0.2771]
 [0.2771 0.3247 0.3742 0.3444 0.3941 0.4139 0.404  0.3742 0.3941 0.2958]
 [0.2243 0.2499 0.3444 0.2958 0.3444 0.404  0.4139 0.3941 0.3841 0.3247]
 [0.208  0.2412 0.2499 0.2771 0.3247 0.3742 0.3941 0.4139 0.404  0.3444]
 [0.2499 0.2771 0.2679 0.3742 0.3444 0.3941 0.3841 0.404  0.4139 0.315 ]
 [0.3444 0.1925 0.208  0.2958 0.2771 0.2958 0.3247 0.3444 0.315  0.4139]]

### Tables 17-19

In [15]:
car_share = np.multiply(trip_dist, prob_car)
print("Modal share car:\n", np.round(car_share))

bus_share = np.multiply(trip_dist, prob_bus)
print("\nModal share bus:\n", np.round(bus_share))

rickshaw_share = np.multiply(trip_dist, prob_rickshaw)
print("\nModal share rickshaw:\n", np.round(rickshaw_share))

Modal share car:
 [[ 5714. 11876.  2043.  4664.  1219.   831.   412.   356.   866.   120.]
 [15054. 52596. 20510. 15931.  8348.  5638.  2149.  2148.  4496.   632.]
 [ 3068. 24298. 26926.  6293. 19104.  8568.  6614.  1926.  3047.   657.]
 [ 6212. 16738.  5581. 32004. 19614.  5902.  3444.  3007. 13927.  2750.]
 [ 1395.  8671. 21779. 19393. 33773. 11683.  6936.  6096.  9545.  2131.]
 [ 1275.  6821.  8751.  6797. 13607.  7913.  7998.  6214.  9662.  1467.]
 [ 1221.  5030. 13066.  7672. 15628. 15471. 20260. 17981. 18864.  4918.]
 [ 1162.  5533.  4187.  7371. 15115. 13230. 19789. 29526. 31020.  8155.]
 [ 1049.  4300.  2460. 12675.  8786.  7636.  7707. 11516. 15674.  2414.]
 [ 3743.   940.   825.  3893.  3051.  1804.  3125.  4709.  3754.  8209.]]

Modal share bus:
 [[ 23251.  54186.  16523.  28329.  13126.   7540.   5260.   5099.   9320.
    2284.]
 [ 68687. 214015. 104924.  96766.  67503.  38397.  23135.  24486.  40772.
   10161.]
 [ 24813. 124302. 109562.  50885.  97728.  43831.  40171.  20733.  29257.
    9413.]
 [ 37729. 101667.  45128. 130226. 100338.  35850.  27850.  27262.  71244.
   22239.]
 [ 15897.  70122.  99371.  99206. 137423.  53304.  42129.  41517.  57972.
   19323.]
 [ 11564.  46458.  44766.  41285.  62086.  32197.  34460.  31791.  44083.
   11867.]
 [ 15605.  54148.  79364.  62040.  94920.  66659.  82436.  82041.  91134.
   33493.]
 [ 16651.  63071.  45080.  66836. 102946.  67679.  90291. 120140. 133650.
   49532.]
 [ 11297.  38987.  23615.  64842.  53365.  34840.  37234.  49615.  63776.
   17408.]
 [ 22735.  15112.  11817.  31481.  27666.  14587.  21283.  28599.  27075.
   33403.]]

Modal share rickshaw:
 [[ 20452.  42962.   7799.  17331.   4780.   3208.   1640.   1433.   3394.
     495.]
 [ 54460. 188246.  74996.  59199.  31861.  21176.   8426.   8466.  17348.
    2574.]
 [ 11712.  88847.  96369.  24017.  69853.  31329.  24576.   7551.  11819.
    2645.]
 [ 23082.  62197.  21300. 114545.  71718.  21932.  13145.  11600.  50923.
   10497.]
 [  5497.  33097.  78788.  70909. 120876.  42263.  25773.  22897.  35466.
    8222.]
 [  4920.  25622.  31997.  25257.  49226.  28320.  28778.  22723.  34952.
    5601.]
 [  4864.  19720.  48552.  29282.  58069.  55667.  72510.  65048.  68610.
   18472.]
 [  4678.  21808.  16417.  28439.  56776.  48375.  71589. 105674. 111611.
   30302.]
 [  4114.  16589.   9540.  46347.  32647.  27623.  28031.  41434.  56097.
    9115.]
 [ 13908.   3828.   3320.  14859.  11772.   6885.  11738.  17496.  14177.
   29381.]]

## 3.4 Trip Assignment

NB: The graphs (Figure 2), code output (Appendix K), and table (Appendix I) do not seem to be consistent. 

For example, the GTC values for nodes 1-5 in the graph match the code output (for the car) but not the table (where they appear to match nodes 1-9). On the other hand, the reverse direction (5-1) in the table appears correct. For the sake of verification we have tried to use the values in the code, which mostly match those in the graphs.

The exception is 4-6 where the code output matches the table not the graphs. So we have used the table values.

In [16]:
gtc_matrix = np.genfromtxt('GTC_graphs.txt', delimiter=' ')
print("GTC matrix:\n",gtc_matrix)

GTC matrix:
 [[  1.   2.  44.  31.  42.]
 [  1.   4.  66.  46.  64.]
 [  1.   5. 109.  77. 106.]
 [  2.   3.  52.  37.  51.]
 [  2.   5.  87.  61.  85.]
 [  3.   5.  52.  37.  51.]
 [  3.   6.  52.  37.  51.]
 [  4.   5.  52.  37.  51.]
 [  4.   6.  66.  46.  64.]
 [  4.   9.  52.  37.  51.]
 [  4.  10.  87.  61.  85.]
 [  5.   6.  44.  31.  42.]
 [  6.   7.  39.  28.  38.]
 [  6.   8.  52.  37.  51.]
 [  6.   9.  44.  31.  42.]
 [  7.   8.  44.  31.  42.]
 [  8.   9.  39.  28.  38.]
 [  8.  10.  66.  46.  64.]
 [  9.  10.  79.  55.  76.]]

In [17]:
from scipy.sparse import csr_matrix, csgraph
row = np.array(gtc_matrix[:,0])
column = np.array(gtc_matrix[:,1])
car_data = np.array(gtc_matrix[:,2])
car_graph = csr_matrix((car_data, (row, column)), shape=(11,11)) # use 11 to preserve node numbering
car_graph = car_graph + car_graph.T # reflect to make symmetric
#print(car_graph.toarray())
print(car_graph)

  (1, 2)	44.0
  (1, 4)	66.0
  (1, 5)	109.0
  (2, 1)	44.0
  (2, 3)	52.0
  (2, 5)	87.0
  (3, 2)	52.0
  (3, 5)	52.0
  (3, 6)	52.0
  (4, 1)	66.0
  (4, 5)	52.0
  (4, 6)	66.0
  (4, 9)	52.0
  (4, 10)	87.0
  (5, 1)	109.0
  (5, 2)	87.0
  (5, 3)	52.0
  (5, 4)	52.0
  (5, 6)	44.0
  (6, 3)	52.0
  (6, 4)	66.0
  (6, 5)	44.0
  (6, 7)	39.0
  (6, 8)	52.0
  (6, 9)	44.0
  (7, 6)	39.0
  (7, 8)	44.0
  (8, 6)	52.0
  (8, 7)	44.0
  (8, 9)	39.0
  (8, 10)	66.0
  (9, 4)	52.0
  (9, 6)	44.0
  (9, 8)	39.0
  (9, 10)	79.0
  (10, 4)	87.0
  (10, 8)	66.0
  (10, 9)	79.0

### Appendix K

In [18]:
(dist_matrix, predecessors) = csgraph.shortest_path(car_graph, directed=False, return_predecessors=True)
print("Shortest paths between nodes:\n",dist_matrix)
print("\nShortest path tree from (e.g.) node 1:\n",
      csgraph.reconstruct_path(car_graph, predecessors[1,:], directed = False))

Shortest paths between nodes:
 [[  0.  inf  inf  inf  inf  inf  inf  inf  inf  inf  inf]
 [ inf   0.  44.  96.  66. 109. 132. 171. 157. 118. 153.]
 [ inf  44.   0.  52. 110.  87. 104. 143. 156. 148. 197.]
 [ inf  96.  52.   0. 104.  52.  52.  91. 104.  96. 170.]
 [ inf  66. 110. 104.   0.  52.  66. 105.  91.  52.  87.]
 [ inf 109.  87.  52.  52.   0.  44.  83.  96.  88. 139.]
 [ inf 132. 104.  52.  66.  44.   0.  39.  52.  44. 118.]
 [ inf 171. 143.  91. 105.  83.  39.   0.  44.  83. 110.]
 [ inf 157. 156. 104.  91.  96.  52.  44.   0.  39.  66.]
 [ inf 118. 148.  96.  52.  88.  44.  83.  39.   0.  79.]
 [ inf 153. 197. 170.  87. 139. 118. 110.  66.  79.   0.]]

Shortest path tree from (e.g.) node 1:
   (1, 2)	44.0
  (1, 4)	66.0
  (1, 5)	109.0
  (2, 3)	52.0
  (4, 6)	66.0
  (4, 9)	52.0
  (4, 10)	87.0
  (6, 7)	39.0
  (9, 8)	39.0

### Appendix L, Tables 20 and 21

In [19]:
# Assign traffic to links

PEAK_RATIO = 0.15
CAR_OCCUPANCY_RATIO = 1.85

links = np.uint(gtc_matrix[:,0:2].copy())
links = np.append(links, np.zeros((links.shape[0],4), dtype=np.uint), axis=1)

flow = np.zeros_like(predecessors)

(h,w) = car_share.shape

for i in np.arange(h):
    for j in np.arange(w):
        numcars = np.uint(np.round(car_share[i,j]))
        start_node = i+1 # precessors numbers according to node numbers
        dest_node = j+1
        while dest_node != start_node: # author ignores self-links so we do for now 
            predecessor = predecessors[start_node,dest_node]
            flow[predecessor,dest_node] += numcars
            dest_node = predecessor

# put flow numbers and peak numbers into links array then dataframe
linksastext = []
for r in links:
    s = r[0]
    d = r[1]
    r[2] = flow[s,d] + flow[d,s]
    r[3] = np.uint(np.round(r[2]*PEAK_RATIO))
    r[4] = np.uint(np.round(r[2]/CAR_OCCUPANCY_RATIO))
    r[5] = np.uint(np.round(r[2]*PEAK_RATIO/CAR_OCCUPANCY_RATIO))
    linksastext = np.append(linksastext,str(r[0])+"-"+str(r[1]))
#print(links)

car_summary = pd.DataFrame(data=links[:,2:],
                           columns=["Daily (persons)","Peak (persons)","Daily (vehicles)","Peak (vehicles)"],
                           index = linksastext
                          )
car_summary.head(links.shape[0])

      Daily (persons)  Peak (persons)  Daily (vehicles)  Peak (vehicles)
1-2             66282            9942             35828             5374
1-4             56152            8423             30352             4553
1-5              2614             392              1413              212
2-3             86034           12905             46505             6976
2-5             17019            2553              9199             1380
3-5             52757            7914             28517             4278
3-6             86216           12932             46603             6990
4-5             56063            8409             30304             4546
4-6             27554            4133             14894             2234
4-9             40413            6062             21845             3277
4-10            17260            2589              9330             1399
5-6             87396           13109             47241             7086
6-7            112212           16832             60655             9098
6-8             59202            8880             32001             4800
6-9             76503           11475             41353             6203
7-8             45813            6872             24764             3715
8-9             54432            8165             29423             4413
8-10            25660            3849             13870             2081
9-10             6168             925              3334              500

NB: Paper has an error in the first total (1-2) in Appendix L. Table 20 is correct.

 ---- Old stuff ----

In [ ]:
# Python implementation of their version of Appendix H - not used

n = 10
a = np.zeros(n)
b = np.ones(n)
oc = np.zeros(n)
dc = np.zeros(n)
diff = np.zeros(n)
dif = np.zeros(n)
di = np.zeros(n)

td = trip_distribution

orig = np.asarray(projected_trips.loc[:,'Production Trips'].values)
print("orig:", np.round(orig,0))
dest = np.asarray(projected_trips.loc[:,'Attraction Trips'].values)
print("dest:", np.round(dest,0))

not_converged = True

while not_converged: 
    for i in np.arange(n):
        oc[i] = 0;
        for j in np.arange(n):
            oc[i] = oc[i] + td[i,j] * b[j]  # weighted sum of td row
        a[i] = orig[i]/oc[i]  # zone production total /  weighted sum#        
        
    for j in np.arange(n):
        for i in np.arange(n):
            td[i,j] = td[i,j]*a[i] # weighted sum of td column
        
    for j in np.arange(n):
        dc[j] = 0;
        for i in np.arange(n):
            dc[j] = dc[j] + td[i,j]  # sum td column
        b[j] = dest[j]/dc[j]  

    for i in np.arange(n):
        for j in np.arange(n):
            td[i,j] = td[i,j] * b[j]

    for i in np.arange(n):
        oc[i] = 0;
        for j in np.arange(n):
            oc[i] = oc[i] + td[i,j]
        diff[i] = orig[i] - oc[i]
        dif[i] = diff[i]
        di[i] = abs(dif[i])

    not_converged = di[0]>1 or di[1]>1 or di[2]>1 or di[3]>1 or di[4]>1 or di[5]>1 or di[6]>1 or di[7]>1 or di[8]>1 or di[9]>1

print("\nOutput:\n")
print(np.round(td,2))